/* Laptop */

@media (max-width: 90em) {
  .header-text-box{
    height: 40px;
    width: 40px;
  }
}

/* 1024px (Responding to tablets) */
@media (max-width: 64em) {
    .header-text-box{
        height: 25px;
        width: 25px;
    }
}

/* Below 544px  */
@media (max-width: 34em) {
    .header-text-box{
        height: 15px;
        width: 15px;
    }
}
